# Dependencies & build
node_modules/
dist/
.vite/

# Environment
.env
.env.local

# Logs
*.log

# Test / coverage
coverage/

# OS
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
